body {
  margin: 0rem;
  background: rgb(239, 242, 255);
  background: radial-gradient(
    circle,
    rgba(239, 242, 255, 1) 0%,
    rgba(70, 121, 252, 0.6264880952380952) 100%
  );
}

header {
  font-family: 'Amatic SC', sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.3rem;
  color: white;
  text-shadow: -1.2px 0 black, 0 1.2px black, 1.2px 0 black, 0 -1.2px black;
  text-align: center;
  margin-top: 0;
}

.game-header {
  margin-bottom: 0;
  margin-top: 3%;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  border: 0.8px black solid;
  vertical-align: middle;
}

.logo {
  background-image: url(https://res.cloudinary.com/dsxuuory9/image/upload/v1598162541/random/rock%20paper%20scissors/Daco_5360461_umwyek.png);
  height: 5rem;
  width: 5rem;
  display: block;
  margin: 8px auto;
  background-size: 100%;
  background-repeat: no-repeat;
}

.logo:hover {
  transform: rotate(360deg);
  transition: 0.7s ease-in-out;
}

.flex-container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

/* Rules DIV */
.start-container {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.65);
  width: 95%;
  min-height: 40vh;
  height: fit-content;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
}
.start-header {
  padding-top: 5%;
  padding-bottom: 2%;
  font-family: 'Amatic SC', sans-serif;
  letter-spacing: 0.05em;
  font-size: 2.2em;
  margin-bottom: 0;
  margin-top: 0;
}
.rules-explained {
  width: 95%;
  padding: 5px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.7em;
  font-size: 1.2em;
}
.next-button {
  font-size: 1.6em;
  font-family: 'Amatic SC', sans-serif;
  letter-spacing: 0.2em;
  margin-top: 10px;
  margin-bottom: 5%;
  width: auto;
  padding: 0.6% 3.5%;
  border-radius: 12px;
  border: 1.5px rgb(211, 205, 231) solid;
  background-color: rgb(225, 230, 245);
  font-weight: bold !important;
  outline-color: white;
}
.next-button:hover {
  background-color: cornflowerblue;
  color: white;
}

/* Game Selection div */
.selection {
  width: 90%;
  padding-top: 5%;
  border: 1px solid grey;
  background-color: rgb(225, 230, 245);
  border-radius: 10px;
  margin-bottom: 3%;
}
.selection:hover {
  background-color: cornflowerblue;
  color: white;
}
.selection-text {
  position: relative;
  bottom: 0;
  font-family: 'Amatic SC', sans-serif;
  font-weight: bold;
  font-size: 2em;
}
.img-select {
  height: auto;
  width: 20%;
}
.paper {
  padding-top: 2% !important;
}
.rock {
  padding-top: 3.5% !important;
}
.modal {
  position: absolute;
  bottom: 50%;
  text-align: center !important;
  align-items: center !important;
  left: 37.3%;
  z-index: 1;
  background-color: rgba(172, 255, 47, 0.824);
  height: 20vh;
  width: 25%;
  vertical-align: middle !important;
  border-radius: 30px;
}

/* Game container div */
.game-container {
  text-align: center;
  margin: 5% 0;
}

.hand {
  width: 40%;
  height: fit-content;
  display: inline-block;
  background-size: 50%;
  background-repeat: no-repeat;
  vertical-align: middle !important;
}

.hand-pic {
  width: 35%;
  height: 35%;
  display: inline-block;
}

.right {
  transform: rotate(180deg);
}

.hide {
  display: none;
}

/* MEDIA QUERIES */
@media screen and (min-width: 600px) {
  .start-container {
    width: 90%;
  }
  .rules-explained {
    width: 90%;
    font-size: 1.4em;
  }
  .start-header {
    font-size: 2.3em;
  }
  .game-header {
    margin-top: 4%;
  }
  .flex-container {
    flex-direction: row;
  }
  .selection {
    width: 30%;
  }
}
@media screen and (min-width: 768px) {
  header {
    font-size: 2rem;
    letter-spacing: 0.45rem;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
  }
  .dot {
    height: 8px;
    width: 8px;
    border: 1px black solid;
  }
  .logo {
    height: 7rem;
    width: 7rem;
    margin: 7px auto;
  }
  .start-header {
    font-size: 2.4em;
  }
  .rules-explained {
    font-size: 1.5em;
  }
  .start-container {
    width: 80%;
  }
}

@media screen and (min-width: 900px) {
  header {
    font-size: 2.3rem;
    letter-spacing: 0.65rem;
    text-shadow: -1.8px 0 black, 0 1.8px black, 1.8px 0 black, 0 -1.8px black;
  }
  .dot {
    height: 10px;
    width: 10px;
    border: 1.2px black solid;
  }
  .logo {
    height: 8rem;
    width: 8rem;
    margin: 8px auto;
  }
  .start-header {
    font-size: 2.7em;
  }
  .rules-explained {
    width: 85%;
  }
}
@media screen and (min-width: 1024px) {
  .start-container {
    width: 70%;
  }
  .start-header {
    font-size: 3em;
  }
  .rules-explained {
    font-size: 1.8em;
    line-height: 1.7em;
  }
}
